[Unit]
Description=gadget_cdrom_image_creation
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
User=root
WorkingDirectory=/opt/gadget_cdrom
ExecStart=/opt/gadget_cdrom/init_iso_img.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target